<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta charset='UTF-8' />
    <style>
      body { 
        font-family: Arial, sans-serif; 
        margin: 0; 
        padding: 0;
        background-color: #f4f4f4; 
        color: #000; 
      } 
      img { 
        pointer-events: none!important; 
      } 
      .global-container { 
        max-width: 740px; 
        margin: 0 auto;
        background-color: #fff; 
        padding: 20px; 
      } 
      .container { 
        {{!-- max-width: 555px; --}}
        margin: 64px auto 0; 
      } 
      .header-logo img { 
        display: block; 
        margin: 0 auto;
        height: 64px; 
        width: 64px; 
      } 
      .gift-logo img{
        display: block; 
        margin: 0 auto;
        height: 64px; 
        width: 64px; 
      }

      .content { 
        text-align: center; 
        margin: 20px 0; 
        } 
      .main-title {
        font-weight: 700; 
        font-size: 24px; 
        line-height: 140%; 
        color: #121a26; 
      }
      .sub-title { 
        font-size: 16px; 
        color: #161615; 
        margin: 8px 0; 
        font-weight: 300; 
      } 
      .alert-message {
        font-size: 12px;
        font-weight: 300 !important;
        color: #A1A1A1 !important;
        width: 314px;
        margin: 20px auto;
        text-align: center;
        padding: 15px 0px;
      }
      .message { 
        font-size: 16px; 
        color: #161615; 
        font-weight: 300;
        width: 314px; 
        margin: 0 auto; 
        text-align: center; 
        width: 100%;
      } 
      .sender-details {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        margin-top: 20px;
      }
      .sender-details .sender-image{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background-color: #eb91aa;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .sender-details .sender-image img{
        border-radius: 50px;
        width: 100%;
        height: auto;
      }
      .sender-details .sender-name{
        font-weight: 400;
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .sender-details .location{
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        gap: 5px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5px;
      }
      .sender-details .location img{
        height: auto;
        width: 20px;
        margin: 0 auto;
      }
      .otp-container {
        background: #d7e4e9; 
        padding: 16px 80px; 
        border-radius: 6px; 
        display: inline-block; 
        margin: 20px 0; 
        font-size: 24px; 
        color: #000; 
      }
      .gift-image {
        background-color: #6AB5D2;
        border-radius: 8px;
        width: 254px;
        height: auto;
        color: #ffffff;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 20px auto;
        padding: 20px;
      }
      .gift-image .line{
        background-color: #ffffff;
        width: 40%;
        height: 1px;
        margin: 0 auto;
      }
      .gift-image img {
        width: 70%; 
        height: auto; 
        margin: 0 auto;
      }
      .gift-image .amount{
        font-weight: 400; 
        font-size: 25px;
        margin: 0 auto;
      }

      .footer { 
        background: #F8F7F1; 
        color: #A1A1A1 !important;
        text-align: center;
        font-size: 10px; 
        padding: 8px 8px 32px; 
        text-align: center; 
        border-radius: 8px;
        margin-top: 30px;
      }
      .footer .support-email{ 
        color: #A1A1A1 !important;
      }
      .social-icons { 
        margin: 20px 0; 
        display: flex; 
        justify-content: center; 
      }
      .social-icons img { 
        height: 32px; 
        margin: 0 10px; 
      } 
      .open-button {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .open-button a {
        background-color: #E688A3;
        border-radius: 32px;
        color: #ffffff;
        text-decoration: none;
        width: 245px;
        height: 40px;
        display: block; 
        margin: 0 auto;
        font-size: 18px;
        line-height: 40px;
      }
      hr { 
        border: none;
        border-top: 1px solid #eeede6; 
        margin: 10px 0; 
      }
      .location-split{
        width: 295px;
        margin: 0 auto;
      }
      .unsubscribe{
        color: #A1A1A1 !important;
        text-align: center;
        font-size: 10px; 
        padding: 8px 8px 50px; 
        text-align: center; 
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .unsubscribe span{
        color: #E688A3;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div class='global-container'>
      <div class='container'>
        <div class='header-logo'>
          <img
            src='https://hbb-client.vercel.app/img/email/logo.png'
            alt='logo'
          />
        </div>
        <hr />
        <hr />
        <div class='gift-logo'>
          <img
            src='https://hbb-client.vercel.app/img/email/gift.png'
            alt='gift'
          />
        </div>
        <div class='content'>
          <p class='main-title'>Congrats! You got gifts today</p>
          <p class='sub-title'>Hello, {{firstName}}</p>
          <p class='message'>
            We're excited to let you know you've been gifted {{giftType}} on honey bunny bun by {{sender.firstName}} an Explorer.
          </p>
          <div class='sender-details'>
            <div class='sender-image'>
              <img
                src={{sender.profileImage}}
                alt='user'
              />
            </div>
            <p class="sender-name">{{sender.name}}</p>
            <p class="location">
                <img
                  src='https://hbb-client.vercel.app/img/email/location.png'
                  alt='location'
                />
              {{sender.location}}
            </p>
          </div>
          <hr class="location-split"/>

          <div class="gift-image">
            <img
              src={{gift.image}}
              alt={{gift.name}}
            />
            <p>{{gift.name}}</p>
            <div class="line"></div>
            <p class="amount">${{gift.amount}}</p>
          </div>

          <div class="open-button">
            <a href="http://localhost:3000">Open Honey bunny bun</a>
          </div>

          <hr>
          <p class='alert-message'>
            Thanks for your time,<br />The Honey Bunny Bun Team
          </p>
        </div>
        <hr />
      </div>

      <div class='footer'>
        <table
        style='table-layout: fixed; width: 100%'
        align='center'
        border='0'
        cellpadding='0'
        cellspacing='0'
      >
        <tr>
          <td align='center' bgcolor='' style='padding: 5px 0'>
            <table
              style='margin: 0 auto'
              border='0'
              cellpadding='0'
              cellspacing='0'
            >
              <tr class='social-icons'>
                <td>
                  <a
                    href='https://www.instagram.com/honeybunnybun'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    <img
                      src='https://hbb-client.vercel.app/img/email/insta.png'
                      alt='Instagram'
                    />
                  </a>
                </td>
                <td>
                  <a
                    href='https://www.tiktok.com/@honeybunnybun'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    <img
                      src='https://hbb-client.vercel.app/img/email/tiktok.png'
                      alt='TikTok'
                    />
                  </a>
                </td>
                <td>
                  <a
                    href='https://www.twitch.tv/honeybunnybun'
                    target='_blank'
                    rel='noopener noreferrer'
                  >
                    <img
                      src='https://hbb-client.vercel.app/img/email/twitch.png'
                      alt='Twitch'
                    />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
        Copyright &copy; 2024 Honey bunny bun, All rights
        reserved.
        <br />
        Feedback? <span class="support-email">support@team.honeybunnybun.com</span> 
      </div>
  
      <div class="unsubscribe">The email was sent to {{receiver.email}}. To no longer receive these emails, <span>unsubscribe here.</span></div>
    </div>
  </body>
</html>
